.full-width {
  width: 100%;
  /* height: 50%; */
}

h3{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.registration-card {
  width: 450px;
  /* height: 40vh; */
  opacity: 0.9;
  /* min-width: 120px; */
  margin: 20px auto;
  padding: 15px;
  margin-right: 4%;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
  border-radius: 20px;
  background-color: aliceblue;
}

.row{
  line-height: 0px;
}


mat-card-header{
  display: flex;
  justify-content: center;
  text-align: center;
  /* border: 2px solid; */
  width: 100%;
  padding-bottom: 20px;
  padding-top: 0px;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

#profilephoto{
  /* background-image: url("../../assets/defaultprofile.jpg"); */
  /* border: 1px dashed; */
  box-shadow: 5px 10px 10px rgba(38, 36, 36, 0.3);
  cursor: pointer;
  background-size: 90px;
  height: 100%;
  width: 100%;
  /* border-radius: 50%; */  
}

#uploadInput:hover #uploadbtn{
  opacity: 1;
}

#uploadbtn{
  padding: 10px 0px 20px 0px;
  opacity: 0;
  width: 100px;
  height: fit-content;
  /* border: 2px solid red; */
  /* border: 1px solid; */
  position: absolute;
  bottom: -3px;
  left: 1%;
  background-color: rgba(0,0,0,0.8);
  color: wheat;
  font-size: 9px;
  text-align: center;
  cursor: pointer;
  /* font-size: 8px; */
}

#uploadInput{
  border: 1px solid gray;
  height: 100px;
  width: 100px;
  position:relative;
  top:-20px;
  left: 2px;
  border-radius: 50%;
  overflow: hidden;
}

#file{
  display: none;
}

#profilephoto:hover {
  box-shadow: 0px 2px 15px 10px rgba(255, 129, 129, 0.3);

}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

mat-card-actions{
  /* text-align: center; */
  display: flex;
  justify-content: center;
  width: 100%;
  /* border: 2px solid; */

}
mat-card-actions button{
  width: 100px;
}
#login{
  text-align: center;
}
a{
  text-decoration: none;

}

form{
  background-image: url("../../assets/pexels-pixabay-265685.jpg");
  background-size: 120%;
  background-position-y: -250px;
  /* background-repeat: no-repeat; */
  height: 100vh;
  /* background */
  
  padding: 5px;
  /* border: 2px solid; */
}

h1{
  font-family: Aclonica;
  font-size: 230%;
  margin-top: 7%;
  color: rgb(247, 78, 78);
  align-self: center;
  align-items: center;
  align-content: center;
  /* border: 2px solid red; */
}
#applogo{
  position: absolute;
  top: 30%;
  left: 8%;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  /* padding-top: 10px; */
  width: 16%;
  height: 12%;
  opacity: 0.8;
  /* border: 2px solid; */
}
/* mat-form-field{
  font-size: small;
  height: 3em;
  line-height: 0px;
  border: 2px solid;
  margin: 0px;
}
input{
  height: 2em;
}
mat-label{
  font-size: small;
}
mat-error{
  border: 2px solid red;
  padding: 0px ;
  margin: 0px;
} */
input.mat-input-element {height:10px}
mat-label{
  font-size: small;
}
mat-form-field{
  font-size: small;
}
#next{
  margin-top: -10px;
  display: flex ;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  /* border: 2px solid; */
  
}
#nextbtn{
  /* justify-self: flex-end;
   */
  
}

