<form [formGroup]="registrationForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="registration-card">
    <mat-card-header>
      <mat-card-title>User Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-3">
            <div id="uploadInput" >
              <img id="profilephoto"  [src]="url" >
              <input type="file" id="file" (change)="uploadProfile($event)" >
              <label for="file" id="uploadbtn">Choose Photo</label>
            </div>
        </div>
        <div class="col ">
          <mat-form-field class="full-width">
            <mat-label>User Name</mat-label>
            <input  matInput placeholder="userName" formControlName="userName">
            <mat-error *ngIf="registrationForm.controls['userName'].hasError('required')">
              User name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input  matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">
              Email id is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>        
      </div>
      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Age</mat-label>
          <input  matInput placeholder="age" formControlName="age">
          <mat-error *ngIf="registrationForm.controls['age'].hasError('required')">
            Age is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Mobile Number</mat-label>
            <input  type="tel" matInput placeholder="Mobile No" formControlName="mobileNo">
            <mat-error *ngIf="registrationForm.controls['mobileNo'].hasError('required')">
              Mobile number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
     <h3>Address</h3>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Street Name</mat-label>
            <input  matInput placeholder="Street Name" formControlName="streetName">
            <mat-error *ngIf="registrationForm.controls['streetName'].hasError('required')">
              Street Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
     
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>City</mat-label>
            <input type="text"   matInput placeholder="City" formControlName="city">
            <mat-error *ngIf="registrationForm.controls['city'].hasError('required')">
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>State</mat-label>
            <mat-select placeholder="State" formControlName="state">
              <mat-option  *ngFor="let state of states" [value]="state">
                {{ state }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registrationForm.controls['state'].hasError('required')">
              State is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Pincode</mat-label>
            <input   matInput #postalCode maxlength="5" placeholder="Postal Code" type="number" formControlName="pinCode">
            <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
            <mat-error *ngIf="registrationForm.controls['pinCode'].hasError('required')">
              Pincode is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="password"  matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>        
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="password"  matInput placeholder="Confirm Password" formControlName="confirmPassword">
            <mat-error *ngIf="registrationForm.controls['confirmPassword'].hasError('required')">
              Confirm Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>        
      </div>
      
    </mat-card-content>
    <mat-card-actions>
        <button [disabled]="registrationForm.invalid" mat-raised-button color="primary" type="submit" class="bg-success">Register</button>
    </mat-card-actions>
  </mat-card>
</form>
