.full-width {
  width: 100%;
}

.registration-card {
  width: 700px;
  /* min-width: 120px; */
  margin: 20px auto;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}
mat-card-header{
  display: flex;
  justify-content: center;
  text-align: center;
  /* border: 2px solid; */
  width: 100%;
}
.mat-radio-button {
  display: block;
  margin: 5px 0;
}

#profilephoto{
  /* background-image: url("../../assets/defaultprofile.jpg"); */
  /* border: 1px dashed; */
  box-shadow: 5px 10px 10px rgba(38, 36, 36, 0.3);

  cursor: pointer;
  background-size: 90px;
  height: 100%;
  width: 100%;
  /* border-radius: 50%; */
  
}

#uploadInput:hover #uploadbtn{
  opacity: 1;
}

#uploadbtn{
  padding-bottom: 15px;
  opacity: 0;
  width: 90px;
  /* border: 1px solid; */
  position: absolute;
  bottom: -10px;
  left: 3%;
  background-color: rgba(0,0,0,0.5);
  color: wheat;
  font-size: 9px;
  text-align: center;
  cursor: pointer;
  /* font-size: 8px; */
}

#uploadInput{
  border: 1px solid gray;
  height: 100px;
  width: 100px;
  position:relative;
  top:-15px;
  left: 25px;
  border-radius: 50%;
  overflow: hidden;
}

#file{
  display: none;
}

#profilephoto:hover {
  box-shadow: 0px 2px 15px 10px rgba(255, 129, 129, 0.3);

}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

mat-card-actions{
  /* text-align: center; */
  display: flex;
  justify-content: center;
  width: 100%;
  /* border: 2px solid; */

}
mat-card-actions button{
  width: 100px;
}
