<body>
  <div id="bg"></div>

  <div class="container-fluid">
    <br>
    <div class="title-header" id="header">
      <h1>My Lists</h1>

      <div id="list" *ngIf="favListShow ; else message">
        <!-- <div *ngFor="let fav of favs">
          <button  mat-raised-button class="col-lg-2 m-3 p-1 mb-2"
            (click)="view(fav.favListName)">{{fav.favListName}}</button>
        </div> -->
        <mat-chip-listbox  aria-label="Fish selection" >
            <mat-chip-option id="view" [selected]="i == 0 ? true:false"   *ngFor="let fav of favs ; let i = index  " (click)="view(fav.favListName)">{{fav.favListName}}</mat-chip-option>
        </mat-chip-listbox>
      </div>

      

      <ng-template #message>
        <div id="message">
          <h2>You haven't created any lists.</h2>
        </div>
      </ng-template>


      <div id="btns">
        <button id="listbtn" mat-icon-button (click)="playListOption()">
          <!-- <mat-icon id="addplaylist" fontIcon="favorite"></mat-icon> -->
          <img src="../../assets/addfavlist-icon.jpg" id="addplaylist">
        </button>
        <div id="playlistOption" *ngIf="isPlaylistOptionOpen">
          <button (click)="create()" *ngIf="createFavList ; else inputfield" mat-raised-button>
            <mat-icon fontIcon="add"></mat-icon> Create New Playlist
          </button>
          <ng-template #inputfield>
            <div class="input-group">
              <input type="text" class="form-control btn-success" [(ngModel)]="listName"
                placeholder="Favourite List Name">
              <button id="input" (click)="createList()" mat-raised-button class="input-group-btn">Save</button>
            </div>
          </ng-template>
        </div>

      <div>
        <div>
          <button id="listbtn" mat-icon-button (click)="playListOption1()">
            <img src="../../assets/deletefav.jpg" id="addplaylist">
          </button>
          <div id="playlistOption" *ngIf="isPlaylistOptionOpen1">
            <button (click)="remove()" *ngIf="createFavList ; else inputfield" mat-raised-button>
              <mat-icon fontIcon="heart_minus"></mat-icon> Enter Playlist Name
            </button>
            <ng-template #inputfield>
              <div class="input-group">
                <input type="text" class="form-control btn-success" [(ngModel)]="listName"
                  placeholder="Favourite List Name">
                <button id="input" (click)="deleteFavList()" mat-raised-button class="input-group-btn">Delete</button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    </div>
    <br>


    <a routerLink="/movies"><button id="explore" mat-raised-button>Keep Exploring</button></a>


  </div>
  <div id="moviecontainer">
    <div class="single-team" *ngFor="let movie of movies">
      <img src="https://www.themoviedb.org/t/p/w440_and_h660_face{{movie.backdrop_path}}" alt="">
      <div class="team-text">
        <h3 class="title">{{movie.title}}</h3>
        <h3 class="date">{{movie.release_date}} </h3>
        <div class="footGenre">
          <h4 *ngFor="let genre of movie.currentGenreList">{{genre.name}}</h4>
        </div>
        <p>
          <a routerLink="/movie-view/{{movie.id}}">
            <button mat-icon-button>
              <mat-icon>play_circle</mat-icon>
            </button>
          </a>
          <a color="primary">
            <button mat-icon-button (click)="delete(moviesOfList.favListName,movie.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div id="msg" *ngIf="movieListShow">
    <h2>Not added any movie!!</h2>

  </div>




</body>