<div class="container" id="main">
  <br>
<div class="title-header" id="header">
  <div id="icon">
   
    My <mat-icon>favorite</mat-icon> Lists
  </div>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Create List</mat-panel-title>
        </mat-expansion-panel-header>    
        <mat-form-field appearance="outline">
            <mat-label>List Name</mat-label>
            <input matInput type="text" [(ngModel)]="listName">
            <br>
            <button mat-raised-button (click)="createList()">continue</button>
        </mat-form-field>
    </mat-expansion-panel>

</div>
</div>
<br>

<div class="container" id="list" *ngIf="isShow">
  <div *ngFor="let fav of favs">
    <button id="view" mat-raised-button class="col-lg-2 m-3 p-1 mb-2" (click)="view(fav.favListName)">{{fav.favListName}}</button>
    
    </div>
</div>

<br>

<div  class="container" *ngIf="isShow" id="card">
  <div class="row">
    <div class="col-lg-2 m-3 p-1 mb-2   rounded"  *ngFor="let movie of movies">
      <mat-card class="example-card" class="cardWidth">
        <mat-card-title> <img src="https://www.themoviedb.org/t/p/w440_and_h660_face{{movie.backdrop_path}}" width="200px" height="200px" alt=""> </mat-card-title>
        <mat-card-content>
          <p class="text-center"><b>{{movie.title}}</b></p>
          <div id="genreList">
            <p class="genre1" *ngFor="let genre of movie.currentGenreList">{{genre.name}}</p>

          </div>
          <p>{{movie.release_date}}</p>
        </mat-card-content>
        <mat-card-actions>
          <a>
            <button mat-icon-button><mat-icon>play_circle</mat-icon></button>
          </a>
          <a color="primary" >
            <button mat-icon-button (click)="delete(moviesOfList.favListName,movie.id)"><mat-icon>delete</mat-icon></button>
          </a>        
        </mat-card-actions>
      </mat-card>  
    </div>
  </div>

</div>





 