.container-fluid{
    /* border: 1px solid; */
    height: 450px;
    
    /* background-color: black; */
    /* background-repeat: no-repeat; */
    /* background-position: ; */
    
}
#play{
    font-size: 70px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
}
#playlistbtn{
    display: flex;
    width: 100%;
    /* position: relative;
    top: -10px; */
    /* border: 2px solid; */
}
#listbtn{
    /* font-size: 60px; */
    width:60px ;
    height: 60px;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
}


#addplaylist{
    font-size: 40px;
    width: 40px;
    height: 40px;
    position: relative;
    top: -5px;
}
#playbtn:hover #play{
    /* font-size: 44px; */
    color: rgb(228, 108, 235);
}
#playbtn:hover {
    /* color: aliceblue; */
    /* font-size: 58px; */
    box-shadow: 0 6px 20px 0 rgba(253, 80, 80, 1);
}
#playbtn:hover h3{
    opacity: 0.8;
}

#playbtn h3{
    opacity: 0;
    position: absolute;
    bottom: -47px;
    left: 22%;
    width: 50px;
    z-index: 5;
    color: white;
    background-color: black;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border: 1px solid; */
}
#playbtn{
    /* padding: 0px; */
    /* border: 2px solid; */
    
    width: 80px;
    height: 80px;
}
#bgImage{
    /* background-image:  url({{backdropBaseUrl + movie.}}); */
    background-size: 100%;
    opacity: 0.6;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 80%;
    background-color: black;
}
.content{
    height: 100%;
    /* border: 2px solid red; */
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    /* opacity: 1; */
    /* padding-left: 60px; */

}

.poster{
    height: 100%;
    /* border : 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    /* text-align: center; */
    font-size: 50px;
    /* margin-top: 10px; */
    font-style: italic;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    /* border: 1px solid; */
}
#header{
    /* margin-top: 30px; */
    /* border: 2px solid red; */
    width: fit-content;
    height: fit-content;
    justify-self: end;
    position: relative;
    /* left: 25%; */
    /* justify-items: center;
    justify-content: center;
    align-self: center; */
    /* text-align: center; */
}

#header p{
    line-height: 5px;
    font-size: 12px;
}
#genre{
    line-height: 0px;
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    /* border: 2px solid; */
    padding: 0px;
    /* text-align: center; */
    justify-content: space-between;
    /* position: relative;
    
    left: 25%; */
}
#genre li{
    margin-right: 10px;
    list-style: none;
    font-weight: 900;
    /* border: 1px solid; */
    margin-left: 0px;
    line-height: 20px;
    font-family: 'Courier New', Courier, monospace;
}
#body{
    width: 80%;
    /* border: 1px solid; */

}

#moviePoster{
    width: 50%;
    height: 85%;
    position: relative;
    left: 10%;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
    border: 5px solid gray;
    /* top: 10%; */
    /* opacity: 1; */
}

#moviePoster:hover{
    width: 52%;
    height: 90%;
    box-shadow: 0px 10px 10px rgba(247, 107, 107, 0.8);

}
#playlistOption{
    /* border: 2px solid; */
    
    position: absolute;
    top: 150px;
    width: fit-content;
    /* border-radius: 30px; */
    z-index: 2;
}

#create{
    width: fit-content;
    line-height: 0px;
   height: 40px;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);

}


#playlists{
    opacity: 0.9;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 30px;
    overflow: hidden;
    /* border: 2px solid; */
    list-style: square;
    background-color: gray;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.25);


}

#playlists li{
    /* border: 1px solid; */
    /* width: fit-content; */
    margin-left: 20px;
    /* padding-left: 0px; */
    text-align: start;
    height: 100%;
    cursor: pointer;
}

#playlists li:hover{
    background-color: rgb(95, 93, 93);

}

#playlistOption button mat-icon{
    /* width: fit-content;
     */
     color: black;
}

#input{
    /* border: 2px solid red ; */
    position: absolute;
    z-index: 5;
    right: -18px;
    /* margin-bottom: 5px; */
    width: fit-content;
    color: white;
    /* line-height: 0px; */
   height: 38px;
    background-color: rgba(0,0,0,0.85);
    /* box-shadow: 0px 10px 10px rgba(0,0,0,0.9); */
}



p{
    font-weight: 500;
    /* color: white; */
}

#body p{
    font-family: cursive;
    font-size: 15px;
}
#action-bar{
    display: flex;
    flex-flow: row wrap;
    /* flex-direction: ; */
    /* border: 3px solid green; */
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}
#rating{
    border: 2px solid;
    display: flex;
    flex-flow: row-reverse nowrap;
    width: 29%;
    height: fit-content;
    justify-content: space-evenly;
    /* background-color: rgb(41, 38, 38); */
    padding: 1px 7px 1px 7px;
    border-radius: 20px;
    /* align-items: center; */
}

#rating:hover {
    border: 2px solid gray;
    box-shadow: 0px 10px 10px rgba(0, 0, 0,0.6);
}

#rating input{
    display: none;
}

#rating label{
    font-size: 19px;
    cursor: pointer;
    color: rgb(2, 2, 2);
}

#rating label:hover,
#rating label:hover ~ label{
    color: rgb(214, 214, 0);
    /* box-shadow: 0px 10px 10px yellow; */
}

#rating input:checked ~ label{
    color: rgb(243, 243, 0);
}

#playContainer{
    width: 750px;
    height: 450px;
    position: absolute;
    top:40px;
    left: 20%;
    background-color: white;
    z-index: 10;
    /* border: 2px solid; */

}
#playHeader{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: rgba(10, 10, 10, 0.8);
}
 #playHeader button{
    height: fit-content;
    /* border: 2px solid red; */
    margin-right: 1%;
}
#playHeader button mat-icon{
    color: white;
}
#playHeader h3{
    position: relative;
    top: 8px;
    margin-left: 5%;
    color: white;
}
#playTrailor{
    width: 100%;
    height: 92%;
    /* border: 2px solid */
}

#playTrailor embed{
    width: 100%;
    height: 100%;
}

#ratingBtn:hover mat-icon{
    font-size: 50px;
    color: rgb(246, 246, 170);

}

#ratingBtn mat-icon{
   height: fit-content;
   width: fit-content;
    /* border: 2px solid; */
    font-size: 40px;
    /* padding: 0px; */

}
#ratingBtn{
    display: flex;
    align-items: center;
    /* padding: 0px; */
    justify-content: center;
    width: 90px;
    /* border: 2px solid; */
    height:90px;
}
#ratingBtn:hover #tooltip{
    opacity: 0.9;
}
#ratingBtn #tooltip {
    opacity: 0;
    position: absolute;
    z-index: 4;
    bottom: -8px;
    left: 15%;
    width: 60px;
    z-index: 5;
    color: white;
    background-color: black;
    border-radius: 15px;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}