.container-fluid{
    /* border: 1px solid red; */
    /* width: 100%; */
    height: 450px;
    /* margin-top: 20px; */
    border-top: 3px ridge;
    /* display: flex;
    flex-flow: column-reverse wrap; */
    /* border: 5px solid red; */
    /* background-color: black; */
    /* background-repeat: no-repeat; */
    /* background-position: ; */
    
}
#play{
    font-size: 70px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
}
#playlistbtn{
    /* border: 3px solid red; */
    display: flex;
    width: 100%;
    padding-left: 0px;
    justify-content: flex-start;
    /* position: relative;
    top: -10px; */
    /* border: 2px solid; */
}
#listbtn{
    /* font-size: 60px; */
    /* margin-top: 10px; */
    position:sticky;
    width:60px ;
    /* border: 2px solid red  ; */
    height: 60px;
    background-color: rgba(0,0,0,0.9);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
}


#addplaylist{
    font-size: 40px;
    width: 40px;
    height: 40px;
    color: white;
    position: relative;
    top: -5px;
}
#playbtn:hover #play{
    /* font-size: 44px; */
    color: rgb(228, 108, 235);
}
#playbtn:hover {
    /* color: aliceblue; */
    /* font-size: 58px; */
    box-shadow: 0 6px 20px 0 rgba(253, 80, 80, 1);
}
#playbtn:hover h3{
    opacity: 0.8;
}

#playbtn h3{
    opacity: 0;
    position: absolute;
    bottom: -47px;
    left: -10%;
    width: 100px;
    z-index: 5;
    color: white;
    background-color: black;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border: 1px solid; */
}
#playbtn{
    /* padding: 0px; */
    /* border: 2px solid; */
    
    width: 80px;
    height: 80px;
}

#playbtn mat-icon{
    color: white;
}
#bgImage{
    /* background-image:  url({{backdropBaseUrl + movie.}}); */
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 80%;
    background-color: black;
}
.content{
    height: 100%;
    /* border: 2px solid red; */
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    /* align-self: center; */
    justify-content: center;
    /* align-content: center;
    justify-items: center; */
    align-items: center;
    /* padding-top: 0px; */
    /* opacity: 1; */
    /* padding-left: 60px; */

}

.poster{
    height: 100%;
    /* border : 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    /* margin-top: -30px; */
    /* text-align: center; */
    font-size: 50px;
    /* margin-top: 10px; */
    font-style: italic;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    /* border: 1px solid; */
}
#header{
    /* margin-top: -30px; */
    /* border: 2px solid red; */
    width: fit-content;
    height: fit-content;
    justify-self: end;
    /* position: relative; */
    /* left: 25%; */
    /* justify-items: center;
    justify-content: center;
    align-self: center; */
    /* text-align: center; */
}
#header div{
    text-align: center;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}
#header p{
    line-height: 5px;
    font-size: 12px;
    width: fit-content;
    padding: 10px 15px 10px 15px;
    opacity: 0.8;
    border-radius: 15px;
    background-color: black;
    color: white;
}
#genre{
    line-height: 0px;
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    /* border: 2px solid; */
    padding: 0px;
    /* text-align: center; */
    justify-content: space-between;
    /* position: relative;
    
    left: 25%; */
}
#genre li{
    margin-right: 10px;
    list-style: none;
    font-weight: 900;
    /* border: 1px solid; */
    margin-left: 0px;
    line-height: 20px;
    background-color: aliceblue;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    opacity: 0.6;
    font-family: 'Courier New', Courier, monospace;
}
#body{
    width: 90%;
    /* border: 3px solid red; */

}
#body h3{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: rgb(194, 142, 243);
}

#moviePoster{
    width: 250px;
    height: 380px;
    /* position: relative;
    left: 10%; */
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
    border: 5px solid gray;
    /* top: 10%; */
    /* opacity: 1; */
}

#moviePoster:hover{
    width: 260px;
    height: 395px;
    box-shadow: 0px 10px 10px rgba(247, 107, 107, 0.8);

}
#playlistOption{
    /* border: 2px solid; */
    /* border: 2px solid; */
    position: absolute;
    top: 150px;
    width: fit-content;
    /* border-radius: 30px; */
    z-index: 2;
}

#create{
    width: fit-content;
    line-height: 0px;
   height: 40px;
    background-color: rgba(245, 236, 236, 0.8);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);

}


#playlists{
    opacity: 0.9;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 30px;
    overflow: hidden;
    /* border: 2px solid; */
    list-style: square;
    background-color: gray;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.25);


}

#playlists li{
    /* border: 1px solid; */
    /* width: fit-content; */
    margin-left: 20px;
    /* padding-left: 0px; */
    text-align: start;
    height: 100%;
    cursor: pointer;
}

#playlists li:hover{
    background-color: rgb(95, 93, 93);

}

#playlistOption button mat-icon{
    /* width: fit-content;
     */
     color: black;
}

#input{
    /* border: 2px solid red ; */
    position: absolute;
    z-index: 5;
    right: -18px;
    /* margin-bottom: 5px; */
    width: fit-content;
    color: white;
    /* line-height: 0px; */
   height: 38px;
    background-color: rgba(0,0,0,0.85);
    /* box-shadow: 0px 10px 10px rgba(0,0,0,0.9); */
}



p{
    font-weight: 800;
    /* color: white; */
}

#body p{
    font-family: cursive;
    font-size: 15px;
    color: aliceblue;
}
#action-bar{
    display: flex;
    flex-flow: row nowrap;
    /* flex-direction: ; */
    /* border: 3px solid green; */
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    /* bottom: 50px; */
}
#rating{
    border: 2px solid;
    display: flex;
    flex-flow: row-reverse nowrap;
    width: fit-content;
    height: fit-content;
    justify-content: space-evenly;
    /* background-color: rgb(41, 38, 38); */
    padding: 1px 7px 1px 7px;
    border-radius: 20px;
    /* align-items: center; */
}

#rating:hover {
    border: 2px solid gray;
    box-shadow: 0px 10px 10px rgba(0, 0, 0,0.6);
}

#rating input{
    display: none;
}

#rating label{
    font-size: 19px;
    cursor: pointer;
    color: rgb(2, 2, 2);
}

#rating label:hover,
#rating label:hover ~ label{
    color: rgb(214, 214, 0);
    /* box-shadow: 0px 10px 10px yellow; */
}

#rating input:checked ~ label{
    color: rgb(243, 243, 0);
}

#playContainer{
    width: 750px;
    height: 450px;
    position: absolute;
    top:-340px;
    left: 20%;
    background-color: white;
    z-index: 2;
    /* border: 2px solid; */

}
#playHeader{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: rgba(10, 10, 10, 0.8);
}
 #playHeader button{
    height: fit-content;
    /* border: 2px solid red; */
    margin-right: 1%;
}
#playHeader button mat-icon{
    color: white;
}
#playHeader h3{
    position: relative;
    top: 8px;
    margin-left: 5%;
    color: white;
}
#playTrailor{
    width: 100%;
    height: 92%;
    /* border: 2px solid */
}

#playTrailor embed{
    width: 100%;
    height: 100%;
}

#ratingBtn:hover mat-icon{
    font-size: 55px;
    color: rgb(246, 246, 170);

}

#ratingBtn mat-icon{
   height: fit-content;
   width: fit-content;
    /* border: 2px solid; */
    font-size: 49px;
    color: white;
    /* padding: 0px; */

}
#ratingBtn{
    display: flex;
    align-items: center;
    /* padding: 0px; */
    justify-content: center;
    width: 90px;
    /* border: 2px solid; */
    height:90px;
}
#ratingBtn:hover #tooltip{
    opacity: 0.9;
}
#ratingBtn #tooltip {
    opacity: 0;
    position: absolute;
    z-index: 4;
    bottom: -8px;
    left: 15%;
    width: 60px;
    z-index: 5;
    color: white;
    background-color: black;
    border-radius: 15px;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#playbg{
    background-color: black;
    opacity: 0.85;
    width: 100%;
    height: 300vh;
    position: absolute;
    top: -90px;
    z-index: 2;
}

#footer{
    /* margin-top: 50px; */
    /* padding-top: 30px; */
    margin-left: 50px;
    background-color: white;
    width: fit-content;
    padding: 0px 15px 0px 15px;
    border-radius: 20px;
}

#movieContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    border-top: 3px dotted;
    padding-top: 20px ;
    /* border: 2px solid green; */
    background-color: rgb(92, 91, 91)
}
.movie-card{
    width: 180px;
    /* border: 2px solid green; */
    text-align: center;
    cursor: pointer;
    margin: 10px 20px 20px 20px;
    /* border: 2px solid; */
}
.img{
    height: 250px;
    /* border: 2px solid red; */
    margin-bottom: 10px;
}
.img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0,0.4);
}
.movie-card:hover img{
    box-shadow: 0px 10px 10px rgba(241, 78, 78, 0.4);

}

.movie-card h3{
    line-height: 14px;
    height: fit-content;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.date{
    color: gray;
    font-style: italic;
    font-size: 11px;
}
.movie-card h4{
    background-color: gray;
    color: white;
    padding: 0px 5px 0px 5px;
    border-radius: 23px;
    font-size: 10px;
    /* border: 2px solid red; */
    /* line-height: 2px; */
}
.footGenre{
    /* border: 2px solid; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#footercontainer{
    padding-top: 30px;
    /* margin-top: -18px; */
    background-color: rgb(92, 91, 91);
    /* border: 2px solid red; */
}

@media screen and (max-width: 576px) {
    
    #playlistbtn{
        position: relative;
        top: 30px;
    }
    #header h1{
        position : relative;
        left: 30px;
        top: -20px;
    }
    #header div{
        width: fit-content;
    }
    .content{
        display: flex;
        /* align-items: flex-start; */
        /* align-content: flex-start; */
        justify-content: start;
        /* border: 2px solid yellow; */
        /* order: 2; */
    }
    #moviePoster{
        border: 1px solid gray;
        width: 110px;
        height: 170px;
        position: absolute;
        top: 160px;
        right: 30px;
        z-index: -1;
    }
    #moviePoster:hover{
        width: 110px;
        height: 170px;
        box-shadow: 0px 10px 10px rgba(247, 107, 107, 0.8);
    
    }
    #body{
        /* border: 2px solid green; */
        position: absolute;
        bottom: 115px;
    }
    #body p{
        font-size: 12px;
    }
    #action-bar{
        position:absolute;
        bottom: 40px;
    }
    #rating{
        /* border: 2px solid blue; */
        width: fit-content;
        background-color: rgb(181, 171, 171);
        opacity: 0.8;
    }
    #playlistOption{
        top: 50px;
    }
}