<div class="container-fluid row " >
    <div id="playbg" [ngStyle]="{'z-index':zaxis}"></div>
    <div id="bgImage" [ngStyle]="{'background-image':'url('+backdropBaseUrl+movie.backdrop_path+')'}"></div>
    <div class="col-lg-7 col-sm-9 col-12 content">
        <div id="playlistbtn">
                        
            <button id="listbtn" mat-icon-button (click)="playListOption()" >
                <mat-icon id="addplaylist" fontIcon="playlist_add"></mat-icon>
            </button>
            <div id="playlistOption" *ngIf="isPlaylistOptionOpen">
                <!-- <div id="tooltip"></div> -->
                <button id="create" (click)="create()" *ngIf="createFavList ; else inputfield" mat-raised-button><mat-icon fontIcon="add"></mat-icon> Create New Playlist </button>
                <ng-template #inputfield>
                    <div class="input-group">
                        <input type="text" class="form-control btn-success" [(ngModel)]="favListNameInput"  placeholder="Favourite List Name">
                        <button id="input" (click)="createPlaylist()" mat-raised-button class="input-group-btn">Save</button>
                    </div>
                </ng-template>
                <mat-list id="playlists">
                    <li *ngFor="let list of favListsAcc.favouriteLists"  mat-list-item  (click)="addMovieToFavList(list.favListName)">{{list.favListName}}</li>
                </mat-list>
            </div>
        </div>
        

        <div id="header" >
            <h1>{{movie.title}}</h1>
            <ul id="genre">
                <li  *ngFor="let genre of currentGenre">{{genre.name }}  </li>
            </ul>
            <div>
                <p>Release_Date : {{movie.release_date}}</p>
            </div>
        </div>
        <div id="body" >
            <h3>Overview : </h3>
            <p>
                {{movie.overview}}
            </p>
        </div>
        <!-- <br> -->
        <div id="action-bar" >
            
            <ng-template #ratingbtn>
                <button mat-icon-button id="ratingBtn" (click)="ratingbtnOption()">
                    <mat-icon fontIcon="star"></mat-icon>
                    <div id="tooltip">Rating</div>
                </button>
            </ng-template>
            <div id="rating" *ngIf="ratingOption ; else ratingbtn ">
                <input type="radio" name="rate" id="rate1" value="5" (change)="selectRating($event)" >
                <label for="rate1"> <mat-icon fontIcon="star"></mat-icon></label>
                <input type="radio" name="rate" id="rate2" value="4" (change)="selectRating($event)">
                <label for="rate2"> <mat-icon fontIcon="star"></mat-icon></label>
                <input type="radio" name="rate" id="rate3" value="3" (change)="selectRating($event)">
                <label for="rate3"><mat-icon fontIcon="star" ></mat-icon></label>
                <input type="radio" name="rate" id="rate4" value="2" (change)="selectRating($event)">
                <label for="rate4"><mat-icon fontIcon="star"></mat-icon></label>
                <input type="radio" name="rate" id="rate5" value="1" (change)="selectRating($event)">
                <label for="rate5"><mat-icon fontIcon="star"></mat-icon></label>

            </div>

            <button *ngIf="playView ; else playTrailorView" id="playbtn" mat-fab color="j" (click)="playTrailor()">
                <mat-icon id="play" fontIcon="play_circle"></mat-icon>
            <h3>Play trailer</h3>
            </button>
            <ng-template #playTrailorView>
                <div id="playContainer">
                    <div id="playHeader">
                            <!-- {{trailerUrl}} -->
                            <h3>Playing Trailor</h3>
                        <button mat-icon-button (click)="playTrailor()"><mat-icon fontIcon="close" ></mat-icon></button> 
                    </div>
                    <div id="playTrailor">
                        <embed [src]="this.trailerUrl | safe" type="">
                    </div>
                </div> 
            </ng-template>
             
        </div>
        
        
        
    </div>
    <div class="col-lg-5 col-sm-3 col-12 poster">
        <img id="moviePoster" [src]="posterBaseUrl + movie.poster_path" alt="">
    </div>
</div>

<div id="footercontainer">
    <h2 id="footer">Recommended Watch List </h2>
<!-- 
    <div id="movieContainer">
        <div class="movie-card" *ngFor="let movie of recommendedMovieList" (click)="navigateToMovie(movie.id)">
            <div class="img">
                <img [src]="posterBaseUrl + movie.poster_path" alt="">
            </div>
            <h3>{{movie.title}}</h3>
            <h3 class="date">Release_Date : {{movie.release_date}} </h3>
            <div class="footGenre"  >
                <h4 *ngFor="let genre of movie.currentGenreList">{{genre.name}}</h4>
            </div>

        </div>

    </div> -->
    <app-movie-card (parentMethod)="navigateToMovie($event)"></app-movie-card>
</div>