.search-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.search-container input{
    border-radius: 10rem 0 0 10rem;
    border: none;
    background-color: #f1f1f1;
    height: 1rem;
    width: 20rem;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}

.search-container button{
    background-color: rgb(209, 37, 37);
    color: black;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    opacity: .8;
    outline: none;
}

.search-container button:hover{
    opacity: 1;
    cursor: pointer;
}
.cardWidth{
    width: 200px;
}