<div id="backimage">
  <input (input)="onSearchTextChanged()" type="text" placeholder="Search Movie" [(ngModel)]="enterSearchValue" >
  <button (click)="hidecont()" >Search</button>
</div>
<br>
<section class="movies" *ngIf="searchSection">
  <div class="container-fluid">
    <div class="slider-wrap">
      <div class="slider-main">
        <div class="movie" *ngFor="let movie of movies"  (click)="navigateToMovie(movie.id)">
          <div class="card">
            <div class="card-body">
              <img
              src="https://www.themoviedb.org/t/p/w440_and_h660_face{{
                movie.poster_path
              }}"
              width="165px"
              height="140px"
              alt=""
            />
              <h6 class="card-subtitle mb-2 text-muted">{{movie.original_language}}</h6>
              <p class="text-center movieTitle">
                <b>{{ movie.title }}</b>
              </p>
              <p class="releasedate">OnAir:-{{ movie.release_date }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="button-area">
        <button type="button" mat-raised-button class="prev preButton" appPrev><mat-icon>arrow_back_ios</mat-icon></button>
        <button type="button" mat-raised-button class="next nexButton" appNext><mat-icon>arrow_forward_ios</mat-icon></button>
      </div>
    </div>
  </div>
</section><br>