<div class="search-container">
    <input (input)="onSearchTextChanged()" type="text" placeholder="Search Movie" [(ngModel)]="enterSearchValue" >
    <button >Search</button>
</div>

<div class="container">
    <div class="row">
      <div class="col-lg-2 m-3 p-1 mb-2 rounded" *ngFor="let movie of movies">
        <mat-card class="example-card" class="cardWidth">
          <mat-card-title> <img src="https://www.themoviedb.org/t/p/w440_and_h660_face{{movie.backdrop_path}}" width="200px" height="200px" alt=""> </mat-card-title>
          <mat-card-content>
            <p class="text-center"><b>{{movie.title}}</b></p>
            <p>{{movie.release_date}}</p>
          </mat-card-content>
          <mat-card-actions>
            <a>
              <button color="warn" mat-icon-button>
           play
              </button></a
            >
            <a>
                <button color="warn" mat-icon-button>
             favourite
                </button></a
              >
          </mat-card-actions>
        </mat-card>  
      </div>
    </div>
  </div>