<div class="container">
    <div class="col-1" >
        <h1 id="logo">𝑴𝒖𝒛𝒊𝒙-𝑨𝒑𝒑</h1> 
        <ul>
            <li><mat-icon>star</mat-icon>Unlimited movies.</li>
            <li><mat-icon>star</mat-icon>Watch anywhere.</li>
            <li><mat-icon>star</mat-icon>Stream unlimited movies.</li>
        </ul>
    </div>
    <div class="col-2">
        <h2><mat-icon>star</mat-icon>Our Plans</h2>
        <form>
            <label for="basic">
                <span><button name="plans" id="basic"   (click)="payment(149)">BASIC</button> </span>
                <h3>@149/month </h3>
            </label>

            <label for="super">
                 <span><button name="plans" id="super"   (click)="payment(499)">SUPER</button> </span>
                <h3>@499/month </h3>
            </label>

            <label for="premium">
                <span> <button name="plans" id="premium" (click)="payment(999)">PREMIUM</button></span>
                <h3>@999/month</h3>
            </label>

            <p>EMAIL ADDRESS</p>
            <input type="email" placeholder="Enter Your Email">

            <button type="submit" (click)="subscribe()">Subscribe</button>
        </form> 
    </div>
</div>