.full-width {
  width: 100%;
}

.profile-card {
  width: 100%;
  /* min-width: 120px; */
  margin: 20px auto;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}
mat-card-header{
  display: flex;
  justify-content: center;
  text-align: center;
  /* border: 2px solid; */
  width: 100%;
}
.mat-radio-button {
  display: block;
  margin: 5px 0;
}
form{
  /* background-color: aliceblue; */
}
#profilephoto{
  /* background-image: url("../../assets/defaultprofile.jpg"); */
  /* border: 1px dashed; */
  box-shadow: 5px 10px 10px rgba(38, 36, 36, 0.3);

  cursor: pointer;
  background-size: 90px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /* position:relative;
  top:-10px;
  left: 20px; */
}
#uploadInput{
  border: 1px solid gray;
  height: 100px;
  width: 100px;
  position:relative;
  top:-20px;
  left: 2px;
  border-radius: 50%;
  overflow: hidden;
}
#file{
  display: none;
}

#uploadInput:hover #uploadbtn{
  opacity: 1;
}


#uploadbtn{
  padding: 3px 0px 20px 0px;
  opacity: 0;
  width: 100px;
  height: fit-content;
  /* border: 2px solid red; */
  /* border: 1px solid; */
  position: absolute;
  bottom: -10px;
  left: 1%;
  background-color: rgba(0,0,0,0.8);
  color: wheat;
  font-size: 9px;
  text-align: center;
  cursor: pointer;
  /* font-size: 8px; */
}


#profilephoto:hover {
  box-shadow: 0px 2px 15px 10px rgba(255, 129, 129, 0.3);

}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

mat-card-actions{
  /* text-align: center; */
  display: flex;
  justify-content: center;
  width: 100%;
  /* border: 2px solid; */

}
mat-card-actions button{
  width: 100px;
}

#edit{
  position: absolute;
  top: 10px;
  right: 20px;
  /* width: fit-content; */
  /* border: 2px solid; */
  /* font-size: 30px; */
  
}
#save{
  position: absolute;
  bottom: 10px;
  right: 20px;
}
#edit mat-icon{
  width: 70px;
  height: 70px;
  color: black;
  font-size: 30px;
}