<mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar> Vipul</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" *ngIf="isLoggedIn ; else notLoggedIn">Profile</a>
      <a mat-list-item href="#">Favourite</a>
      <ng-template #notLoggedIn>
        <a mat-list-item href="#">Login</a>
        <a mat-list-item href="#">Register</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav> -->
  <mat-sidenav-content>
    <mat-toolbar class="topnav">
      <div id="start">
        <div id="logo">
          <mat-icon fontIcon="play_circle_filled"></mat-icon>
        </div>
        <a routerLink="/dashboard" id="logo1">Muzix-App</a>
      </div>
      

      <section>

      </section>

      <section id="container">
        <!-- <a mat-list-item href="#" *ngIf="isLoggedIn ; else notLoggedIn">Profile</a> -->
        <!-- <div id="navstart">
          <h3  href="#" class="navcomponent">Movies</h3>
        </div> -->
        <div id="profcont">
          <div id="right-one">


            <a routerLink="/home" class="mat-icon" id="home" mat-icon-button>
              <mat-icon fontIcon="home"> </mat-icon>
            </a>
            <a routerLink="/favourite" class="mat-icon" id="fav" mat-icon-button>
              <mat-icon fontIcon="star"> </mat-icon>
            </a>
            <a routerLink="/profile" class="mat-icon" id="person" mat-icon-button>
              <mat-icon fontIcon="person"> </mat-icon>
            </a>
            <img id="profile" src="../../assets/profile.jpg" (click)="profile()" *ngIf="isLoggedIn ; else loggedIn">

            <ng-template #loggedIn>
              <a routerLink="/login" mat-raised-button>Login</a>
            </ng-template>
          </div>
        </div>


      </section>


    </mat-toolbar>
    <!-- <ng-template > -->


    <!-- </ng-template> -->
    <!-- <app-profile></app-profile> -->
    <!-- <app-registration></app-registration> -->
    <!-- Add Content Here -->
  </mat-sidenav-content>

</mat-sidenav-container>
<!-- <app-favourite></app-favourite> -->
<!-- <app-login></app-login> -->
<div id="toolkitcontainer" *ngIf="toolkit">
  <mat-nav-list id="toolkit">
    <a mat-list-item id="name"><small>User: </small><strong>Arjun</strong> </a>
    <a routerLink="/profile" mat-list-item>Profile</a>
    <a routerLink="/favourite" mat-list-item>Favourite List</a>
    <button (click)="logout()" type="button" mat-list-item id="logout" class="btn btn-outline-danger">Logout</button>
  </mat-nav-list>
</div>
<!-- <app-movie-view></app-movie-view> -->
<router-outlet></router-outlet>